/*-- scss:functions --*/

/*-- scss:defaults --*/
/* $h1-font-size:          3.6rem !default; */
/* $headings-font-weight:  500 !default; */

/*-- scss:rules --*/
.callout {
  max-width: 55ch;
}

p {
  max-width: 55ch;
}

.code-fold summary {
  background-color: white;
  padding-left: 1em;
  color: black;
}
